.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recipe-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 1vmin;
    margin:6px;
}

.base {
    background-color: #994d00;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.main-header {
    text-align: center;
}

.add-recipe {
    position:`` fixed;
    bottom:5vmin;
}

.recipe {
    display: flex;
    border: 1px solid grey;
    list-style-type: none;
    width:100%;
    height:100%;
    max-width: 50vmax;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #ffb366;
}


.button {
    padding: 5px;
    background-color: #e67300;
    color: black;
    border-radius: 5vmin;
    margin: 2px;
}
.button:hover {
    background-color: #ffbf80;
    box-shadow: -1px -5px 3px sienna;
}

.delete {
    background-color: red;
}
.delete:hover {
    background-color: maroon;
    color: white;
    box-shadow: -1px 5px 3px #4d0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #994d00;
}

.newFormContainer {
  background: transparent;
}

#modal {
  background-color: rgba(60,30,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
  overflow: auto;
}

#modalInfo {
  background: #ffb366;
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.submit {
  width: 100%;
}
